.gradientTitle {
  background: linear-gradient(to right, #ff8808 30%, white 40%, #2700a1 50%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  font-weight: 700;
  animation: textShine 15s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
